<header>
    <div id="logo" style="cursor: default;">
        <strong>BLOG</strong>
    </div>
    <div id="secciones">
        <% if(seleccionado == "Inicio"){ %>
            <a id="aInicio" class="aSelected" href="/inicio"><strong>INICIO</strong></a>
            <abbr style="text-decoration: none;" title="Crear una nueva publicación"><a id="aCrear" href="/crear"><strong>CREAR</strong></a></abbr>
            <span><input type="text" placeholder="Buscar..."></label>
            <select>
                <option>título</option>
            </select>
        <button>Buscar</button></span>
            <% }else if(seleccionado == "Crear"){ %>
            <abbr style="text-decoration: none;" title="Regresar a la pantalla principal"><a id="aInicio" href="/inicio"><strong>INICIO</strong></a></abbr>
            <a id="aCrear" class="aSelected" href="/crear"><strong>CREAR</strong></a>
        <% }else {%>
            <abbr style="text-decoration: none;" title="Regresar a la pantalla principal"><a id="aInicio" href="/inicio"><strong>INICIO</strong></a></abbr>
            <abbr style="text-decoration: none;" title="Crear una nueva publicación"><a id="aCrear" href="/crear"><strong>CREAR</strong></a></abbr>
        <% }%>

    </div>
</header>