<style>
    #formBuscar{
        display: inline;
    }
</style>
<header>
    <div id="logo" style="cursor: default;">
        <strong>BLOG</strong>
    </div>
    <div id="secciones">
        <% if(seleccionado == "Inicio"){ %>
            <a id="aInicio" class="aSelected" href="/inicio"><strong>INICIO</strong></a>
            <abbr style="text-decoration: none;" title="Crear una nueva publicación"><a id="aCrear" href="/crear"><strong>CREAR</strong></a></abbr>
            <% }else if(seleccionado == "Crear"){ %>
            <abbr style="text-decoration: none;" title="Regresar a la pantalla principal"><a id="aInicio" href="/inicio"><strong>INICIO</strong></a></abbr>
            <a id="aCrear" class="aSelected" href="/crear"><strong>CREAR</strong></a>
        <% }else {%>
            <abbr style="text-decoration: none;" title="Regresar a la pantalla principal"><a id="aInicio" href="/inicio"><strong>INICIO</strong></a></abbr>
            <abbr style="text-decoration: none;" title="Crear una nueva publicación"><a id="aCrear" href="/crear"><strong>CREAR</strong></a></abbr>
        <% }%>
        <form id="formBuscar" method="POST" action="/busqueda">
            
            <span><input required id="inputBuscar1" type="text" placeholder="Buscar..." name="busqueda"></label>

            <select id="slc1" name="filtro" class="selectBuscar">
                <option value="" hidden selected disabled>Filtro</option>
                <option value="titulo">Titulo</option>
                <option value="autor">Autor</option>
                <option value="descripcion">Descripcion</option>
                <option value="etiquetas">Etiquetas</option>
                <option value="categoria">Categoría</option>
            </select>

            <select id="slc2" class="selectBuscar" name="ordenBusqueda">
                <option value="" hidden selected disabled>Ordenar por...</option>
                <option value="reciente">Mas reciente</option>
                <option value="antiguo">Mas antiguo</option>
            </select>
            <button id="botBuscar">Buscar</button>
        </span>
        </form>
            
    </div>
</header>