<%if(cards.length>=5){%>
    <div id="paginasTotal">
        <!-- <form action=""> -->
            <input type="hidden" name="busqueda">
            <input type="hidden" name="filtro">
            <input type="hidden" name="ordenBusqueda">
            <button class="paginasChild"><div>
                <strong>&lt;&lt;</strong>
            </div></button>
            <button value="1" class="paginasChild""><div>
                <strong>1</strong>
            </div></button>
            <button value="2" class="paginasChild""><div>
                <strong>2</strong>
            </div></button>
            <button value="3" class="paginasChild""><div>
                <strong>3</strong>
            </div></button>
            <button value="4" class="paginasChild""><div>
                <strong>4</strong>
            </div></button>
            <button class="paginasChild"><div>
                <strong>&gt;&gt;</strong> 
            </div></button>
        <!-- </form> -->
    </div>
    <%}%>

